{% extends "layout.html" %}

{% block content %}
  <h3>{{page.title}} <small> (<a href="/wiki/similar?tags={{tags}}&urlTitle={{page.urlTitle}}">Similar</a>)</small></h3>
  <h4>by <a href="/users/{{page.author.id}}">{{page.author.name}}</a></h4>
  <div>
      {% for tag in page.tags %}
        <a href="/wiki/search?tags={{tag}}">{{tag}}</a>
      {% endfor %}
  </div>
  <hr/>
  <!-- <div><a href="/users/{{page.author.id}}">{{page.author.name}}</a></div> -->
  <div class="page-body">{% autoescape false %}{{ page.renderedContent }}{% endautoescape %}</div>
  <hr/>
  <a href="PLACEHOLDER_URL_TITLE/edit" class="btn btn-primary">edit this page</a>
  <a href="PLACEHOLDER_URL_TITLE/delete" class="btn btn-danger">delete this page</a>
{% endblock %}
